.login-form {
  width: 510px;
  height: 520px;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 auto;
  padding-top: 40px;

  background: #FFFFFF;
  border: 1px solid rgba(39, 39, 39, 0.1);
  box-sizing: border-box;
  border-radius: 5px;
}

.login-form__header {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 20px;

  img {
    margin-bottom: 32px;
  }

  h2 {
    margin: 0;

    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
  }
}
